.home__hero-section{
    color: #fff;
    padding: 160px 0;

}
.home__hero-row{
    align-items: center;
}
.row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
   align-content: stretch;
}
.col {
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%; 
}